{% extends '@GoleadsitAdminCrud/base.html.twig' %}

{% block base_body %}
    <section class="content">
        <h1 class="text-center"><strong>¿Estás seguro que quieres eliminar?</strong></h1>
        <h2 class="text-center">{{ entity | capitalize }}</h2>
        <div class="text-center">
            <form method="post" action="{{ path(paths.delete, {'id': entity.id}) }}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
                <input type="submit" class="btn btn-danger btn-lg mt-2" value="Eliminar"/>
                <a href="{{ path(paths.index) }}" class="btn btn-info btn-lg mt-2">Volver</a>
            </form>
        </div>
    </section>
{% endblock base_body %}
