<div class="col-md-12">
    {% if type == 'new' %}
        <input type="submit" value="Añadir" class="btn btn-flat btn-primary center-block"/>
    {% elseif type == 'edit' %}
        <input type="submit" value="Editar" class="btn btn-flat btn-primary center-block"/>
    {% endif %}
</div>
